@import "tailwindcss";

@theme inline {
  --color-secondary: #f5d71c; /* Amarillo */
  --color-darkbg: #131424;
  --background-gradient-cover: linear-gradient(90deg, rgba(120, 120, 120, 0.5) 0%, rgba(30, 60, 150, 0.5) 100%);
}

.bg-gradient-cover {
  background-image: var(--background-gradient-cover);
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  color: #fff;
  background: #455174;
}

main {
  background: #58585e;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: var(--color-secondary);
}
